<header class="site-header">
  <div class="navigation-wrapper site-shell">
    <a class="site-name" href="{{ '/' | relative_url }}">{{ site.title }}<span class="name-dot" aria-hidden="true">.</span></a>
    <nav class="top-navigation" aria-label="Main navigation">
      <ul>
        {% for link in site.links %}
        <li><a href="{% if link.external %}{{ link.url }}{% else %}{{ link.url | relative_url }}{% endif %}">{{ link.title | escape }}</a></li>
        {% endfor %}
      </ul>
    </nav>
  </div>
</header>
